<mat-sidenav-container class='sidenav-container'>
  <mat-sidenav-content>
    <mat-toolbar color='primary'>
      <div class='d-flex justify-content-between w-100'>
        <span>ui-management</span>
        <button class='btn btn-success' (click)='setVersion(2)'>Version 2</button>
      </div>
    </mat-toolbar>
    <div class='container'>
      <div class='row'>
        <table class='table'>
          <tbody>
          <tr>
            <td>Service version</td>
            <td>
              <button class='btn btn-primary' (click)='getVersion()'>Send</button>
            </td>
          </tr>
<!--          <tr>-->
<!--            <td>List recipe</td>-->
<!--            <td>-->
<!--              <button class='btn btn-primary' (click)='getListRecipe()'>Send</button>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>List ingredient</td>-->
<!--            <td>-->
<!--              <button class='btn btn-primary' (click)='getListIngredient()'>Send</button>-->
<!--            </td>-->
<!--          </tr>-->
          </tbody>
        </table>

      </div>
      <div class='row'>
        <pre>{{result|json}}</pre>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
